.Wrap{
    display: inline;
    display: inline-block;
    margin-top: 10px;
    height: auto;
    width: 90%;
    margin-bottom: 10px;
    cursor: pointer;
}
.right-chevron{
    display: none;
}
.Wrap:hover .right-chevron{
    display: block;
}
.imgs{
    margin-left: 10px;
    height: 10%;
}
.image{
    
}
.Description{
    width: 70%;
}
.buttonpos{
    margin-top: 50px;
}

@media screen and (max-width : 700px){
    .Wrap{
        overflow: hidden;
        height: 1%;
    }
}