.SprinklerContainer{
    margin-top: 10%;
}
.SprinklerText{
    margin-left: 8%;
    width: 40%;
    float: left;
}
.ImageContainer{
    width: 40%;
    float: right;
    margin-right: 5%;
} 

.Content{
    margin-top: 10%;
}