.TerabotContainer{
    margin-top: 5%;
}
.Text{
    margin-left: 5%;
    width: 40%;
    float: left;
}
.ImageContainer{
    width: 40%;
    float: right;
    margin-right: 10%;
} 

.Content{
    margin-top: 10%;
}