.App {
  text-align: center;
}
a{
  text-decoration: none;
}

.navbar{
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
  z-index:99;
}
.buttons a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.buttons a:hover {
  background: #5481D1;
  color: white;
  cursor: pointer;
}