.parallax {
    /* The image used */
    background-image: url("./files/Rosh.png");
    text-align: center;
    /* Set a specific height */
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ProjectWrapper{
    padding: 5%;
    overflow-y: auto;
    width: 90%;
    overflow: auto;
}