.parallax {
    /* The image used */
    background-image: url("./files/Rosh.png");
    text-align: center;
    /* Set a specific height */
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.NewsLetter{
  margin-top: 5%;
  padding-bottom: 10%;
}
